@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html{
        @apply scroll-smooth
    }
    @font-face {
        font-family: 'Dana';
        src: url("../font/DanaFaNum-Regular.woff");
    }
    @font-face {
        font-family: 'DanaBold';
        src: url("../font/DanaFaNum-Bold.woff");
    }
    @font-face {
        font-family: 'DanaExtraBlack';
        src: url("../font/DanaFaNum-ExtraBlack.ttf");
    }
    @font-face {
        font-family: 'Morabba';
        src: url("../font/Morabba-Regular.woff");
    }
    
    @font-face {
        font-family: 'Moul';
        src: url("../font/Moul-Regular.ttf");
    }
    
    body{
        font-family: "Morabba";
        
    }
}

@layer components{
    .hide{
        visibility: hidden;
        opacity: 0;
    }
    .closed{
        @apply !h-0 overflow-hidden !p-0 opacity-0 !border-none
    }
    .closed .dropdownContentCaption{
        @apply !h-0 overflow-hidden !p-0 opacity-0 !border-none
    }
    .overlay{
        @apply fixed top-0 right-0 w-full min-h-screen bg-black/40 backdrop-blur-md z-20 transition-all
    }
    .modal-title--active{
        @apply text-primary after:!-top-4
    }
    .image-gallery-wrapper {
        overflow-y: auto;
      }
      
      .image-gallery-wrapper::-webkit-scrollbar {
        width: 2px;
      }
      .image-gallery-wrapper::-webkit-scrollbar-thumb {
        background-color: #a5a5a5;/* رنگ قسمت کشویی اسکرول بار */
        border-radius: 4px; /* گردی گوشه‌ها */
      }
    .dark .image-gallery-wrapper::-webkit-scrollbar-thumb {
        background-color: #505050;/* رنگ قسمت کشویی اسکرول بار */
        border-radius: 4px; /* گردی گوشه‌ها */
      }
      .image-gallery-wrapper::-webkit-scrollbar-track {
        background-color: #e1e1e1; /* رنگ پس‌زمینه اسکرول بار */
      }
      .dark .image-gallery-wrapper::-webkit-scrollbar-track {
        background-color: #797979; /* رنگ پس‌زمینه اسکرول بار */
      }
      .header--scroll{
        @apply !py-3 bg-surface-700/10 dark:bg-darksurface-100/10 backdrop-blur-md
      }
      .mobile-nav--active{
        @apply !right-0
      }
      .panel-nav--active{
        @apply text-textColor dark:text-darkTextColor border-b border-textColor dark:border-darkTextColor
      }
}