@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Dana';
        src: url("../font/DanaFaNum-Regular.woff");
    }
    @font-face {
        font-family: 'DanaBold';
        src: url("../font/DanaFaNum-Bold.woff");
    }
    @font-face {
        font-family: 'DanaExtraBlack';
        src: url("../font/DanaFaNum-ExtraBlack.ttf");
    }
    @font-face {
        font-family: 'Morabba';
        src: url("../font/DanaFaNum-ExtraBlack.ttf");
    }
    body{
        font-family: "Dana";
    }
}

@layer components{
    .hide{
        visibility: hidden;
        opacity: 0;
    }
    .closed{
        @apply !h-0 overflow-hidden !p-0 opacity-0 !border-none
    }
    .closed .dropdownContentCaption{
        @apply !h-0 overflow-hidden !p-0 opacity-0 !border-none
    }
}